.list {
  width: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 3%;
  font-size: 13px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.listItem:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.listItemActive {
  composes: listItem;
  color: #3faf6c;
  background-color: #fafaf3;
}

.ItemPart {
  width: 50%;
  display: flex;
  align-items: center;
}

.ItemPart1 {
  composes: ItemPart;
  justify-content: space-between;
}

.ItemPart1 span {
  width: 70%;
}

@media screen and (min-width: 560px) {
  .listItem {
    font-size: 17px;
  }
}
